{% extends "base.twig" %}

{% block templateContent %}
    <main>
    	{% include 'components/banner/banner-secondary' with banner %}
    	<div class="inner client-zone-content">	
	        {{ content }}

	        {% if downloads %}
	        	<h2 style="text-align:left">Downloads:</h2>
	        	<ul class="client-downloads">
		        	{% for download in downloads %}
		        		<li><a download class="" href="{{ download.file.url }}">{{ download.file.title }}</a></li>
		        	{% endfor %}
		        </ul>
	        {% endif %}
    	</div>
    </main> 
{% endblock %}
