{% extends 'base.twig' %}

{% block templateContent %}

    <main>

        {% if tax %}
            {% include 'components/banner/banner-tax' %}
        {% else %}
            {% include 'components/banner/banner-shop' %}
        {% endif %}

        {% include 'components/shop/filters/template.twig' %}

        <div class="inner">

            {% do action('woocommerce_before_main_content') %}

            <div class="before-shop-loop">
                {% do action('woocommerce_before_shop_loop') %}
            </div>
            {% if page_heading %}   
                <h2 class="resource-title">{{ page_heading }}</h2>
            {% endif %}
            <div class="products-list">
                {% for post in products %}
                    {% include 'components/shop/teaser/template.twig' %}
                {% endfor %}
            </div>


          {% do action('woocommerce_after_shop_loop') %}
          {% do action('woocommerce_after_main_content') %}

        </div>

    </main>

{% endblock  %}