{% extends "base.twig" %}

{% block templateContent %}
    <main>
        {% include 'components/banner/banner' with banner %}
        {% include 'components/content/sections' with { sections : intro } %}
        {% include 'components/themes-grid' %}
        {% include 'components/content/sections' %}
    </main>
{% endblock %}
