html{
    overflow-y: scroll;
}
body{
    //overflow: hidden;
}
.inner{
    @include inner();
}

.inner--narrow{
    max-width: 900px;
}

.inner--wide{
    max-width: 1300px;
}


.inner--article{
    max-width: 720px;
}
img, svg{
    max-width: 100%;
}
img{
    height: auto;
}
picture{
    display: block;
    margin-bottom: -4px;
}

.alignright{
    float: right;
}
.alignleft{
    float: left;
}
.center{
    text-align: center;
}
.inner__grid{
    @include mq($from: tablet) {
        @include grid();
        // grid-auto-rows: 1fr;
    }
}
.typography{
    padding-top: 3em;
    h2{
        text-align: left;
    }
}
.client-zone-content{
    margin-bottom: 3em;
}

.primer-nav-item{
    font-size: 14px;
    line-height: 17px;
}
.screen-reader-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
html #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme{
    background-color: $orange;
}
html #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button {
    background-color: $black;
}