h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $heading-font;
    font-weight: unset;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin: 0;
     padding-bottom: 0.5em;
}

html.js h1,
html.js h2,
html.js h3,
html.js h4,
html.js h5,
html.js h6
{
    span{
        &:after{
            width: 0;
        }

        // &.animate{
        //     &:after{
        //         width: 100%;
        //         @include transition( width, 0.5s );
        //     }
        // }
    }

}

body, p{
    color: $font-colour;
    font-family: $body-font;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

p, li{
    margin: 0;
    @include p();
}
// em{
//     font-family: 'BaskervilleNo2SemBol W01 Itali', sans-serif;
//}
p:last-child{
    margin-bottom: 0;
}
h1{
    @include h1();
}
h2{
    @include h2();
}
h3{
    @include h3();
}
h4{
    @include h4();
}
h5{
    @include rem('font-size', 20px);
    @include rem('line-height', 24px);
    text-transform: uppercase;
}
.title-small{
    @include title-small();
}
p, li{
    margin-bottom: 1em;
    a{
        //color: $red;
        text-decoration: none;
        // @include underline-transition();
    }
}
p, .client-downloads{
    a{
        @include underline-transition($yellow);
    }
}
.text-center{
    text-align: center;
}

.no-top-margin{
    margin-top: 0;
}
.typography{
    h2{
        margin-top: 2em;
    }
}