// Import roboto from google ../fonts
$rem-base: 16px;
$global-font-size: 100%;
$site-width: 960px;
$post-width: 680px;
$site-padding: 3em;
$mobile-padding: 2em;
$article-width: 700px;
$border-radius: 10px;

// Colours
$yellow: #FFE75F;
$blue: #B6E4F6;
$orange: #FE795A;
$green: #4FAB8D;
$grey: #FAFAFA;
$black: #0D0D0D;

$font-colour: $black;

// Themes colurs
$explore_colour: $green;
$connect_colour: $yellow;
$create_colour: $blue;
$discover_colour: $orange;


// ../fonts
$heading-font: 'Futura', sans-serif;
$body-font: 'Futura', sans-serif;
