.form-success{
	text-align: center;
    @include rem("font-size", 30px);
    @include rem("line-height", 44px);
    font-family: $heading-font;
    max-width: 470px;
    margin: 0 auto;
}
.form-success_image{
	max-width: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}
.form{
	form{
		@include mq($from: tablet) {
			@include grid();
			grid-column-gap: 1em;
	    	grid-row-gap: 1em;
			.field--half{
				@include grid-column-span(6);
			}
			.field--full{
				@include grid-column-span(12);
			}
			input[type="submit"], .form__button{
				@include grid-column-span(3);
			}
		}
	}
}
.loader{
	display: none;
	width: 80px;
	height: 80px;
	background-image: url('/app/themes/lumberjack/assets/img/spinner.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.gfield{
	list-style: none;
}
.gform_fields{
	padding-left: 0;
}
.gform_confirmation_message{
  @include rem('font-size', 20px);
  margin-bottom: 1em;
}
.mailchimp-newsletter{
	margin-top: 1em;
}
#mailchimp_woocommerce_newsletter{
	float: left;
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.woocommerce-privacy-policy-text{
	margin-bottom: 1em;
}