<div class="form">
	{% if not hide_heading %}
		{% if not form.hide_heading %}
			<div class="text-center">
				{# <h2 class="heading-2">{{ form.heading }}</h2>
				<p>{{ form.description }}</p> #}
			</div>
		{% endif %}
	{% endif %}

    <form data-id="{{ form.id }}" class="{% if form.hide_label %}form-hide-labels{% endif %}">

		{% for field in form.fields %}
		    {% if field.type == 'checkbox' %}
		        {% include 'elements/forms/checkbox' with field %}
		    {% elseif field.type == 'textarea' %}
		        {% include 'elements/forms/textarea' with field %}
		    {% elseif field.type == 'select' %}
		        {% include 'elements/forms/select' with field %}
		    {% else %}
		        {% include 'elements/forms/input' with field %}
		    {% endif %}
		{% endfor %}

		{% if form.display_opt_in %}
			HIYA
            {% include 'elements/forms/checkbox' with { "name": "opt-in", "value": "true", "label" : form.opt_in_text  } %}
        {% endif %}

        <div class="form__button">
			<button type="submit" class="form-submit" value="{{ form.button_text }}" >{{ form.button_text }}</button>
		</div>
        <div class="loader"></div>

	</form>

</div>