.site-header{
    padding: 1em 0 2em 0;
    @include mq($from: tablet) {
      padding: 2em 0 2em 0;
    }

    .button{
      font-weight: 500;
      @include rem('font-size', 24px);
      color: $black;
      &:hover{
        color: $yellow;
      }
     
    }

    &.open.site-header--top-bar{
      .site-header__contents{
        padding-top: 19em;
      }
    }
}

.site-header__inner{
    @include mq($until: tablet) {
      padding: 1em 2em;
    }
    @include inner();
    padding: 1em;
    @include flexbox();
    @include justify-content(center);
    @include align-content(center);

    justify-content: space-between;
    h1{
        margin: 0;
        @include flexbox();
        @include justify-content(center);
    }
}
.site-header__contents{
    @include mq($until: tablet) {
        position: absolute;
        width: 100%;
        left: 0;
        background: $blue;
        text-align: center;
        display: none;
        top: 0px;
        padding-top: 9em;
        z-index: 99999;
    }
    @include mq($from: tablet) {
        position: relative;
        @include flexbox();
        @include justify-content(center);
    }
}
.site-nav{
  padding: 1em;
  @include mq($from: tablet) {
    padding: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(flex-end);
  }
}
.page-list__item{
  font-size: 1em;
    @include mq($until: tablet) {
        margin-bottom: 1em;
    }
    @include mq($from: tablet) {
        display: inline-block;
        margin-left: 2em;
        margin-bottom: 0;
    }
    position: relative;
    list-style: none;
    a{
        // padding: 0 0.5em;
        display: inline-block;
        @include mq($from: tablet) {
          display: block;
        }
        color: $black;
        text-decoration: none;
        font-weight: 500;
        text-transform: initial;
        position: relative;
        z-index: 99;
        @include rem('font-size',20px);
        &:hover{
          color: $black;
          @include transition(color .1s linear);
          &:after{
            height: 100%;
          }
        }
        &.button{
          color: $black;
        }

        &:after{
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 6px;
          z-index: -1;
          background: $yellow;
          @include transition(height .1s linear);
        }
        &.yellow{
          &:after{
            background: $yellow;
          }
        }
        &.blue{
          &:after{
            background: #fff;
            @include mq($from: tablet) {
              background: $blue;
            }
          }
        }
        &.orange{
          &:after{
            background: $orange;
          }
        }
        &.green{
          &:after{
            background: $green;
          }
        }
        &.black{
          &:after{
            background: $black;
          }
          &:hover{
            color: #fff;
          }
        }
        &.cart{
          text-indent: -999999px;
          background-image: url('/app/themes/lumberjack/assets/img/cart.png');
          background-size: contain;
          background-repeat: no-repeat;
          width: 34px;
          height: 27px;
          margin-bottom: -4px;
          &:after{
            content: none;
          }
          margin: 0 auto;
          @include mq($until: tablet) {
            margin-top: 0.5em
          }
        }

    }
    // &.has-child:hover{
    //   .menu-item{
    //     color: $yellow;
    //   }
    // }
}
.logo{
    // background-image: url('/app/themes/lumberjack/assets/img/logo.svg');
    // background-repeat: no-repeat;
    // // text-indent: -99999999px;
    // // float: left;
    // height: 50px;
    width: 180px;
    z-index: 999;
    display: block;
    // @include flexbox();
    // @include justify-content(center);
    img{
        // height: 42px;
        padding-right: 0.3em;
        max-width: 180px;
    }
    &:before, &:after{
      content: none;
    }

}
.site-header__logo{
    z-index: 999999999;
    margin-bottom: -6px;
    @include mq($from: tablet) {
        position: relative;
        // @include flexbox();
        // @include justify-content(center);
    }
    h1{
      padding-bottom: 0;
    }
}

// .site-nav{
//     display: inline-block;
// }
.site-social{
    display: inline-block;
    padding-left: 1em;
}
.social-link{
    width: 30px;
    display: inline-block;
    padding-left: 0.5em;
}
.site-header--fixed{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.dropdown-menu{
    @include mq($from: tablet) {
      position: absolute;
    }
    padding: 0;
    min-width: 150px;
    // border: 3px solid #fafaf5;
    // display: none;
    // margin-top: -4px;
    // padding-top: 8px;
    background: $yellow;
    margin: 0;
    margin-top: 2px;
    z-index: 9;
    overflow: hidden;
    // left: calc(50% - 262px);
    left: 0;
    max-height: 0;
    z-index: 999;
    @include transition(all 0.3s 0.1s);
    // background: $red;
    // a{
    //   color: #fff;
    // }
    .dropdown-menu__container{
      @include transform(translate(0,-100%));
      @include transition(all 0.3s 0.1s);
      position: relative;
      background: $yellow;
      padding: 1em;
      @include mq($from: tablet) {
      @include flexbox();
      @include justify-content(flex-start);
      }
    }
    // &:before{
    //   content: '';
    //   width: 0;
    //   height: 0;
    //   border-style: solid;
    //   border-width: 0 29.5px 26px 29.5px;
    //   border-color: transparent transparent $orange transparent;
    //   top: -26px;
    //   left: 0;
    //   margin: 0 auto;
    //   display: block;
    // }


}

.reveal{
  .menu-item{
    &:before, &:after{
      content: none;
    }
  }
  .dropdown-menu{
    max-height: 100%;
  }
  .dropdown-menu__container{
    transform: translateY(0%);
  }
}

@include mq($from: tablet) {
    .has-child{
        &:hover{
            .dropdown-menu{
                // display: block;
                max-height: 100vh;
                .dropdown-menu__container{
                  @include transform(translate(0,0));
                }
            }
        }
        a{
            &:before, &:after{
                content: none;
            }
        }
    }
}
.nav-drop-item{
    list-style: none;
    @include mq($from: tablet) {
      margin-bottom: 0;
    }
    // &:hover{
    //     background: $yellow;
    //     a{color: $blue;}
    // }
    a{
        padding: 1em;
        display: block;
        position: relative;
        font-size: 0.9em;
        color: #fff;
    }
}

.dropdown-title{
  font-weight: 700;
  color: $yellow;
  padding-bottom: 0.7em;
}
.child-submenu{
  margin-left: 0;
  padding-left: 0;
  a{
      padding: 0.7em 0;
  }
}

.nav-drop-subitem{
  list-style: none;
  a{
    &:hover{
      color: #fff;
    }
  }
}

/* Icon 1 */

.nav-icon{
    z-index: 99;
    width: 40px;
    height: 26px;
    position: relative;
    // margin: 11px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    float: right;
    @include mq($from: tablet) {
        display: none;
    }
    @include clearfix();

    &.open{
      z-index: 99999999999;
      //margin-top: -85px;
    }
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: $black;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

// .nav-icon.open span {
//   background: #fff;
// }

.nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
  top: 0px;
}

.nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
  top: 11px;
}

.nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
  top: 21px;
}

.nav-icon.open span:nth-child(1),.nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(2),.nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 18px;
}

.nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 18px;
}
