<div class="site-header {% if top_bar.mobile_display %}site-header--top-bar{% endif %}">
        <div class="site-header__inner">
            <div class="site-header__logo">
                <h1><a href="{{ home_url }}" class="logo"><img src="/app/themes/lumberjack/assets/img/logo.svg" alt="Anchor Digital" /></a></h1>
            </div>
            <div class="site-header__contents">
                {% include 'components/core/navigation/template.twig' %}
            </div>
        </div>
</div>
