.product-filters{
	background: $yellow;	
	padding-top: 2em;
}

.product-filters__dropdown{
	// padding: 2em 0;
	max-height: 0;
	overflow: hidden;
	@include transition(max-height 0.5s);
	@include mq($from: tablet) {
		@include grid();
	}

	&.open{
		max-height: 1000px;
	}
}
.product-filter-set{
	text-align: center;
	@include mq($from: tablet) {
		@include grid-column-span(4);
	}
	ul{
		padding-left: 0;
	}
	li{
		list-style: none;
		a{ 
			color: $black;
			font-weight: 700;
		}
	}
}
.product-filter-set__title{
	font-weight: 700;
	text-transform: uppercase;
	@include rem('font-size', 24px);
	position: relative;
	display: inline-block;

	&:before{
		content: "";
		position: absolute;
		bottom: -4px;
		width: 100%;
		height: 5px;
		background: $black;
	}
}

.product-filters__button{
	margin-bottom: 2em;
	color: $black;
	text-decoration: none;
	padding: .3em 3em 0.3em 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid $black;
	display: inline-block;
	position: relative;
	&:before{
		content: "";
		background-image: url('/app/themes/lumberjack/assets/img/down.svg');
		height: 33px;
		width: 18px;
		background-size: contain;
	    display: block;
	    background-repeat: no-repeat;
	    position: absolute;
	    right: 13px;
	    top: 6px;
	}

	&.open{
		&:before{
			background-image: url('/app/themes/lumberjack/assets/img/up.svg');
		}
	}
}