<div class="product-filters">

    <div class="inner">

        <a href="#" class="product-filters__button">Browse</a>

        <div class="product-filters__dropdown">

            <div class="product-filter-set">
                <div class="product-filter-set__title">Theme</div>
                <ul>
                    {% for theme in product_themes %}
                        <li><a href="/resource-hub/theme/{{ theme.slug }}">{{ theme.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

             <div class="product-filter-set">
                <div class="product-filter-set__title">Category</div>
                <ul>
                    {% for theme in product_cats %}
                        <li><a href="/resource-hub/category/{{ theme.slug }}">{{ theme.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="product-filter-set">
                <div class="product-filter-set__title">Context</div>
                <ul>
                    {% for theme in product_context %}
                        <li><a href="/resource-hub/context/{{ theme.slug }}">{{ theme.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>

</div>