.button{
    @include button();
}

// .button-white{
//     @include button();
//     @include button-white();
// }

// .button-red{
//     @include button();
//     @include button-red();
// }


// .secondary-button{
// 	@include secondary-button();
// }

// .secondary-button-white{
// 	@include secondary-button();
// 	@include secondary-button-white();
// }

// a.download, p a{
//     background-image: linear-gradient(120deg, $teal 0%, $teal 100%);
//     background-repeat: no-repeat;
//     background-size: 100% 0.2em;
//     background-position: 0 88%;
//     transition: background-size 0.25s ease-in;
//     color: #000;
//     text-decoration: none;
//     font-weight: 600;
//     padding: 0 0.2em;
//     &:hover {
//         background-size: 100% 88%;
//     }
// }

// a.download{
//   font-size: 1.2em;
//   font-weight: 400;
//   img{
//      width: 10px;
//     padding-left: 1px;
//   }
// }
