main{
    table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.5em 0;
    }
    th{
        background: #f6f7f9;
    }
    th, td {
        padding: 1.5em;
        border: 1px solid #e1e4eb;
    }
}
