<div class="banner-single">

	{% if image.src %}
		<img src="{{ image.src }}" />
	{% else %}
		<img src="{{ image.url }}" />
	{% endif %}

	{% if tags %}

		<div class="banner-single__tags">

			{% for tag in tags %}

				{% if tag.taxonomy == 'ad_product_theme' %}
					{% set url_base = '/resource-hub/theme' %}
				{% elseif tag.taxonomy == 'product_cat' %}
					{% set url_base = '/resource-hub/category' %}
				{% elseif tag.taxonomy == 'ad_product_context' %}
					{% set url_base = '/resource-hub/context' %}
				{% endif %}

				<a class="tag {{ tag.taxonomy }}" href="{{ url_base }}/{{ tag.slug }}">{{ tag.name }}</a>

			{% endfor %}

		</div>

	{% endif %}

</div>