<div class="field field--checkbox">
	<div class="checkbox-container">
	    <label class="checkbox-label">
	        <input value="1" name="{{ name }}" id="{{ id }}" type="checkbox" {% if checked %} checked{% endif %}>	
	        <span class="checkbox-custom rectangular"></span>
	        <div class="input-title">{{ label }}</div>
	    </label>
	</div>
</div>