.section-block--product-overview{
	padding: 2em;
	@include mq($from: tablet) {
		@include grid();

		.product-overview-item{
			@include grid-column-span(3);
		}

	}
}
.product-overview-item{
	padding: 0 .5em;
	text-align: center;
	margin-bottom: 3em;
	@include mq($from: tablet) {
		margin-bottom: 0;
	}
	img{
		max-width: 100px;
    	margin-bottom: 1em;
    }
    p, h4{
    	padding-bottom: 0 !important;
    }
}
.section--product-overview{
	padding: 0 0 2em 0 !important;
}
.section--flexible .inner .section-block--full .product-overview-item p{
	@include p();
}