<section class="section--flexible section--white section--product-overview" id="">
    <div class="inner">
        <div class="section-block section-block--full section-block--yellow section-block--product-overview">
            
        	<div class="product-overview-item product-overview-item--format">
        		<img src="/app/themes/lumberjack/assets/img/format.png" />
                <h4>Format</h4>
        		<p>{{ format }}</p>
        	</div>

            <div class="product-overview-item product-overview-item--people">
                <img src="/app/themes/lumberjack/assets/img/people.png" />
                <h4>Group size</h4>
                <p>{{ people }}</p>
            </div>

        	<div class="product-overview-item product-overview-item--time">
        		<img src="/app/themes/lumberjack/assets/img/time.png" />
                <h4>Time</h4>
        		<p>{{ time }}</p>
        	</div>

        	<div class="product-overview-item product-overview-item--age">
        		<img src="/app/themes/lumberjack/assets/img/age.png" />
                <h4>Age</h4>
        		<p>{{ age }}</p>
        	</div>

        </div>
    </div>
</section>