<!DOCTYPE html>
<html {{ site.language_attributes }} {% if primer.ui %} class="primer-html primer-core"{% endif %}>
    <head>
        {% include 'html-header.twig' %}

        {% if primer.ui %}
            {% include 'primer-head.twig' %}
        {% endif %}

        <script type="text/javascript">
            window.enhanced = (
                'querySelector' in document &&
                'localStorage' in window &&
                'addEventListener' in window &&
                'matchMedia' in window &&
                'classList' in document.createElement('div') &&
                'visibilityState' in document
            );

            if (window.enhanced) {
                var h = document.documentElement;
                h.classList.add('enhanced');
                h.classList.remove('core');
            }
        </script>  
        
    </head>
    <body{% if primer.ui %} class="primer-body{% if document %} primer-body--document{% endif %}"{% else %} class="{{ body_class }}
    {% if post_page %} grey{% endif %}
    "{% endif %}>

        {% if gtm_scripts %}
            {{ gtm_scripts }}
        {% endif %}

        {% if not primer.ui %}

            {% if gtm_scripts %}
                {{ gtm_scripts }}
            {% endif %}
            
            {% include 'components/notice' with top_bar %}
            {% include 'components/core/header/template.twig' %}
            
        {% endif %}

            {% block templateContent %}
                <p>Sorry, no content</p>
            {% endblock %}

        {% if not primer.ui %}
            {% include 'components/core/footer/template.twig' %}
        {% endif %}

        {% include 'html-footer.twig' %}
    </body>
</html>
