@mixin button(){
    border: 0;
    background: $black;
    text-decoration: none;
    color: #fff;
    font-family: $heading-font;
    // border: solid 1px #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    @include rem('font-size', 24px);
    @include rem('border-radius', 6px);
    padding: 0.6em 1.4em;
    position: relative;
    overflow: hidden;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.8s;

    &:before{
        content: "";
	    position: absolute;
	    // @include rem('border-radius', 6px);
	    z-index: -1;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: $black;
	    -webkit-transition: -webkit-transform 300ms cubic-bezier(.55,0,.095,0);
        transition: -webkit-transform 300ms cubic-bezier(.55,0,.095,0);
        transition: transform 300ms cubic-bezier(.55,0,.095,0);
        transition: transform 300ms cubic-bezier(.55,0,.095,0),-webkit-transform 150ms cubic-bezier(.55,0,.095,0);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right center;
        transform-origin: right center;
        will-change: transform;
    }
    &:hover{
        // border-color: $black;
        color: #fff;
        &:before{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
    }


}


@mixin button-yellow(){
    background: $yellow;
    color: $black;

    &:before{
        background: darken($yellow, 10%);
    }
}

@mixin button-white(){
    background: #fff;
    color: $black;

    &:before{
        background: $black;
        color: #fff;
    }
}


// @mixin button-white(){
//   border: solid 1px $blue;
// 	background: #fff;
// 	color: $blue;

//     &:before{
//         background: $blue;
//     }

//     &:hover{
//         color: #fff;
//     }
// }

@mixin secondary-button(){
    @include rem('font-size', 20px);
    font-family: $body-font;
    // text-transform: uppercase;
    color: $black;
    text-decoration: none;
    position: relative;
    // padding: 0 0.1em;
    text-align: center;
    @include rem('margin-bottom', 5px);
    display: inline-block;
    z-index: 1;
    &:before{
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 7px;
        background: $yellow;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        // -webkit-transform: scale(0.93);
        // -moz-transform: scale(0.93);
        // transform: scale(0.93);
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        z-index: -1;
    }
    &:before{
        opacity: 1;
    }
    &:hover{
        &:after{
            top: -3px;
            opacity: 1;
        }
        &:before{ 
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);

            height: 122%;
        }
    }
}

@mixin underline-transition($colour: $black){
    position: relative;
    text-decoration: none;
    color: $black;
    position: relative;
    text-decoration: none;
    display:inline;
    background: linear-gradient(to top, $colour 0%, $colour 98%);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left 100%;
    padding-bottom: 1px;
    @include transition(all 0.3s ease-in-out);
    &:hover{
        background-size: 100% 100%;
        color: $black;
    }
}


// @mixin underline-transition(){
//     position: relative;
//     text-decoration: none;
//   //   &:after{
//   //     position: absolute;
//   //     top: 100%;
//   //     left: 0;
//   //     width: 100%;
//   //     height: 4px;
//   //     // background: rgba(0,0,0,0.1);
//   //     background: $black;
//   //     content: '';
//   //     opacity: 0;
//   //     -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
//   //     -moz-transition: opacity 0.3s, -moz-transform 0.3s;
//   //     transition: opacity 0.3s, transform 0.3s;
//   //     -webkit-transform: translateY(10px);
//   //     -moz-transform: translateY(10px);
//   //     transform: translateY(10px);
//   //   }
//   //   &:hover{
//   //     &:after{
//   //         opacity: 1;
//   //       -webkit-transform: translateY(0px);
//   //       -moz-transform: translateY(0px);
//   //       transform: translateY(0px);
//   //     }
//   // }
//   color: $black;
//   &:before{
//       content: "";
//       position: absolute;
//       bottom: -4px;
//       left: 0;
//       width: 100%;
//       height: 6px;
//       z-index: -1;
//       background: $black;
//       @include transition(height .1s linear);
//     }

//     &:hover{
//       color: $black;
//       @include transition(color .1s linear);
//       &:after{
//         height: 100%;
//       }
//     }

// }
