@mixin grid(){
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(12,1fr);
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/span 12;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
}

@mixin grid-row-start($n){
	-ms-grid-row: $n;
	    grid-row-start: $n;
}

@mixin grid-row-end($n){
	-ms-grid-row-span: $n;
	grid-row-end: $n;
}


@mixin grid-column-start($n){
	-ms-grid-column: $n;
	    grid-column-start: $n;
}

@mixin grid-column-end($n){
	-ms-grid-column-span: $n;
	grid-column-end: $n;
}

@mixin grid-column-positioner($start, $end){
	-ms-grid-column: $start;
	grid-column-start: $start;
	-ms-grid-column-span: $end;
	grid-column-end: $end;
}

@mixin grid-row-positioner($start, $end){
	-ms-grid-row: $start;
	grid-row-start: $start;
    -ms-grid-row-span: $end;
	grid-row-end: $end;
}

@mixin align-self($position){
	-ms-flex-item-align: $position;
	-ms-grid-row-align: $position;
	align-self: $position;
}

@mixin grid-column-span($n){
	grid-column: span $n;
	-ms-grid-column-span: $n;
}

@mixin align-items($position){
	-webkit-box-align: $position;
	-ms-flex-align: $position;
	align-items: $position;
}

.grid{
	@include grid();
}