@mixin inner(){
	max-width: $site-width;
    // width: 100%;
    max-width: calc($site-width + (2 * $mobile-padding));
    margin-left: auto;
    margin-right: auto;
    padding: 0 $mobile-padding;
    @include mq($from: tablet) {
        padding: 0 $site-padding;
        max-width: calc($site-width + (2 * 3em));
    }
}

@mixin inner-post(){
    max-width: $post-width;
    // width: 100%;
    max-width: calc($post-width + (2 * $mobile-padding));
    margin-left: auto;
    margin-right: auto;
    padding: 0 $mobile-padding;
    @include mq($from: tablet) {
        padding: 0 $site-padding;
        max-width: calc($site-width + (2 * 3em));
    }
}