@mixin h1(){
    @include rem('font-size', 38px);
    @include rem('line-height', 41px);
    @include mq($from: tablet) {
        @include rem('font-size', 38px);
        @include rem('line-height', 41px);
    }
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $font-colour;
    font-weight: 700;
}

@mixin h2(){
    @include rem('font-size', 34px);
    @include rem('line-height', 39px);
    @include mq($from: tablet) {
        @include rem('font-size', 34px);
        @include rem('line-height', 39px);
    }
    text-transform: uppercase;
    color: $font-colour;
    font-weight: 700;
}

@mixin h3{
    @include rem('font-size', 27px);
    @include rem('line-height', 35px);
    color: $font-colour;
    text-transform: uppercase;
    font-weight: 700;
}

@mixin h4{
    @include rem('font-size', 20px);
    @include rem('line-height', 25px);
    color: $font-colour;
    text-transform: uppercase;
    font-weight: 700;
}

@mixin title-small(){
    @include rem('font-size', 46px);
    @include rem('line-height', 60px);
    font-family: $heading-font;
    color: $font-colour;
    font-weight: 500;
}

@mixin p(){
    @include rem('font-size', 20px);
    @include rem('line-height', 26px);
}