{% extends "base.twig" %}

{% block templateContent %}
    <main>
        {# <div class="page-header-simple">
            <h1>{{ title }}</h1>
        </div> #}
        {% include 'components/banner/banner-secondary' with banner %}
        <div class="typography">
            {{ content|raw }}
        </div>

        {% if posts|length > 0 %}
            <ul class="posts">
                {% for post in posts %}
                    {% include 'components/posts/teaser' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </main>
{% endblock %}
