footer{
    h2{
        @include rem('font-size', 16px);
        color: #fff;
    }
}
.footer{
  margin-top: 3em;
  @include grid();
}
.social-bar{
  background: $yellow;
  padding: 0.7em;
}
.footer-end{
    // border-top: solid 1px #fff;
    text-align: center;
    margin-bottom: 1em;
    @include grid-column-span(12);
    @include mq($from: tablet) {
      @include grid-column-span(4);
      text-align: left;
      img{
        float: right;
      }
      .footer-end__copyright{
        float: right;
      }
    }
    @include rem('font-size', 16px);
    a{
        color: $black;
        font-weight: 500;
    }
    .inner{
      @include grid();
    }
}
.footer-content{
    padding-top: 2em;
    padding-bottom: 2em;

}
.footer-column--contact{
    a{
        color: #fff;
        display: block;
        text-decoration: none;
        @include rem('margin-bottom', 10px);
    }
}
.footer-column--social{
  @include mq($from: tablet) {
    float: right !important;
    margin-top: 0;
  }
  margin-top: 2em;
  text-align: right;
  // @include flexbox(flex-end);
  a{
    padding-right: 0.5em;
  }
}
.footer-menu-title{
  color: $black;
  margin-bottom: 1em;
}
.footer__menu{
  @include grid-column-span(6);
  @include mq($from: tablet) {
    @include grid-column-span(4);
  }
    .page-list__item{
        margin-left: 0;
        display: block;
        text-align: left;
        &:after{
            content: none;
        }
        a{
          padding: 0;
            text-transform: initial;
            font-weight: 500;
            display: inline-block;
            @include rem('font-size', 16px);
            @include rem('line-height', 22px);
            &:after{
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 4px;
              // background: rgba(0,0,0,0.1);
              background: #fff;
              content: '';
              opacity: 0;
              -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
              -moz-transition: opacity 0.3s, -moz-transform 0.3s;
              transition: opacity 0.3s, transform 0.3s;
              -webkit-transform: translateY(10px);
              -moz-transform: translateY(10px);
              transform: translateY(10px);
            }
            &:hover{
              &:after{
                  opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
              }
          }
        }
    }
}

@include mq($from: tablet) {
    footer .footer-content{
        @include grid-container;
    }
    .footer-column{
        @include grid-column(2);
        margin-left: 0;
    }
}

.social-bar{
  padding: 3em 0;
  h2{
    @include h2();
  }
  text-align: center;
  .inner{
    // @include flexbox();
    // @include align-items(center);
  }
  .fb{
    margin-left: 2em;
    margin-right: 1em;
  }
  input[type="text"],input[type="email"]{
      background: transparent;
      padding: 0.7em !important;
      border: solid 2px $black;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $black;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $black;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $black;
      }
    }
  @include mq($from: tablet) {
    .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input[type=submit]{
      @include rem('font-size', 22px);
      height: 57px;
    }
    input{
      width: 100% !important;
    }
    form{
      @include grid();
    }
    .gform_wrapper div.validation_error{
      @include grid-column-span(12);
    }
    .gform_heading{
      @include grid-column-span(12);
      display: none;
    }
    .gform_body{
      @include grid-column-span(9);
      .gform_fields{
        @include grid();
      }
      .gfield{
        @include grid-column-span(4);
        margin-top: 0 !important;
        padding-right: 0 !important;
      }
    }
    .gform_footer{
      @include grid-column-span(3);
    }
    .gform_wrapper .top_label div.ginput_container, .gform_footer.top_label
    {
      margin-top: 0 !important;
    }
    .gform_wrapper .gform_footer{
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
    .gform_wrapper li.hidden_label input{
      margin-top: 0 !important;
    }
  }
}