<footer>
	<div class="social-bar">
		<div class="inner">
			<h2>{{ social_bar_heading }}</h2>
			<p>{{ social_bar_text }}</p>
			{{ social_bar_form }}
			<a class="fb" href="#"><img width="30" src="/app/themes/lumberjack/assets/img/facebook.svg" /></a> <a href="#"><img width="30" src="/app/themes/lumberjack/assets/img/instagram.svg" /></a>
		</div>
	</div>
	<div class="inner footer">

			<div class="footer__menu footer__site-links">
				{# <div class="footer-menu-title">{{ site_links.title }}</div> #}
				{% for link in site_links.get_items %}
				    <li class="page-list__item {% if link.children %}has-child{% endif %}">
				        <a href="{{ link.link }}">{{ link.title }}</a>
				    </li>
				{% endfor %}
			</div>

			<div class="footer__menu footer__resouce links">
				{# <div class="footer-menu-title">{{ resource_links.title }}</div> #}
				{% for link in resource_links.get_items %}
				    <li class="page-list__item {% if link.children %}has-child{% endif %}">
				        <a href="{{ link.link }}">{{ link.title }}</a>
				    </li>
				{% endfor %}
			</div>

			<div class="footer-end">
				<img width="230" src="/app/themes/lumberjack/assets/img/footer-logo.jpg" />
		    	<div class="footer-end__copyright">
			  		{{ footer_end }}
			  	</div>
			</div>

    </div>

</footer>
