.banner-tax{
	background: $blue;
	padding: 4em 0;
	@include mq($from: tablet) {
		.inner{
			@include grid();
			align-items: center;
		}
		.banner-tax__content{
			@include grid-column-span(6);
		}
		.banner-tax__image{
			@include grid-column-span(6);
		}
	}
}

.term-explore{
	.banner-tax{
		background: $explore_colour;
	}
}
.term-connect{
	.banner-tax{
		background: $connect_colour;
	}
}
.term-create{
	.banner-tax{
		background: $create_colour;
	}
}
.term-discover{
	.banner-tax{
		background: $discover_colour;
	}
}