<div class="banner-tax">

	<div class="inner">

		<div class="banner-tax__content">
			<h1>{{ title }}</h1>
			{{ term_description }}
		</div>

		<div class="banner-tax__image">
			{{ term_image }}
		</div>


	</div>

</div>