{% extends "base.twig" %}

{% block templateContent %}
    <main>
       <section class="section section--error">
    

        <div class="inner text-center">
            <h1>{{ banner.heading }}</h1>
            <p>{{ content }}</p>
            <span class="status-code">Error: 404</span> <br /><br />
            <div class="buttons">
                <a class="button button--home" href="{{ site.link }}">Go home</a>
            </div>
        </div>

        </section>
    </main>
{% endblock %}
