.contact-detail{
	font-family: $heading-font;
	font-weight: 500;
	@include rem("line-height", 24px);
}
.contact-detail--email{
	// a{
	// 	color: $purple;
	// }
	margin-bottom: 2em;
}

.contact__form{
	justify-self: auto;
}
.contact__content{
	@include mq($from: desktop) {
		padding-right: 4em;
	}
	.button{
		margin-bottom: 1em;
	}
	a{
		@include underline_transition($yellow);
	}
}

.columns{
	.inner{
		@include mq($from: desktop) {
			@include grid();
			align-items: center;

			.column{
				@include grid-column-span(6);
				align-self: center;
    			justify-self: center;
			}

			.contact__content{
				@include grid-column-span(4);
			}
			.contact__form{
				@include grid-column-span(8);
				margin-bottom: 2em;
			}

			.column__container{
				max-width: 360px;
			}
		}
	}
}
.page-template-default{
	.inner{
		.column__container{
			max-width: 100%
		}
	}
}
@include mq($from: desktop) {
	.contact-container{
		.inner{
			align-items: self-start;
			.column{
				align-self: start;
    			justify-self: auto;
			}
		}
	}
}

.column{
	margin-bottom: 2em;
	@include mq($from: desktop) {
		margin-bottom: 0;
	}
}

.column__container p{
	padding: 1em 0;
}

.preheading{
	// color: $purple;
	font-style: italic;
	margin-bottom: 0.5em;
}

.columns--cta{
	h2{
		@include h3();
	}
	.column__container{
		max-width: 490px !important;
		h2{
			margin-bottom: 1em;
		}
	}
}
body .has-topper{
	// padding-bottom: 11em;
}
.has-topper + .topper{
	margin-top: -7vw;
	display: block;
}