<div class="contact-details">
	{% if phone %}
		<h3>Phone</h3>
		<div class="contact-detail contact-detail--phone">{{ phone }}</div>
		<br /><br />
	{% endif %}
	{% if email %}
		<h3>Email</h3>
		<div class="contact-detail contact-detail--email"><a href="mailto:{{ email }}">{{ email }}</a></div>
	{% endif %}
	{% if address %}
		<div class="contact-detail contact-detail--address">{{ address }}</div>
	{% endif %}

</div>