<div class="field {% if hide_label %}field--hide-label{% endif %} field--{{ name }} field--{{ type }} field--{{ width }}">
	<textarea class="textarea-input{% if classes %}{% for class in classes %} {{ class }}{% endfor %}{% endif %}" name="{{ name }}" placeholder="{{ placeholder }}" id="{{ name }}" rows="{{ rows|default(6) }}"></textarea>
</div>
