.grid--no-margin{
	grid-column-gap: 0;
	grid-row-gap: 0;
}
.grid__theme{
	@include grid-column-span(12);
	text-decoration: none;
	@include mq($from: tablet) {
		@include grid-column-span(6);
		position: relative;
	}
	img{
		margin-bottom: -3px;
	}	
}

.grid-theme-info{
	background: $green;
	padding: 2em;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
	h2,p{
		color: #fff;
	}
	@include mq($from: tablet) {
		padding: 4em;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		opacity: 0;
		&:hover{
			opacity: 1;
		}
	}
}
.grid-theme-info--green{
	background: $green;
}
.grid-theme-info--yellow{
	background: $yellow;
	h2,p{
		color: $black;
	}
}
.grid-theme-info--blue{
	background: $blue;
	h2,p{
		color: $black;
	}
}
.grid-theme-info--orange{
	background: $orange;
}