<div class="section">

	<div class="inner">

		<div class="grid grid--no-margin">

			{% for theme in themes %}
				<a href="/resource-hub/category/{{ theme.url.slug }}" class="grid__theme">
					<img src="{{ theme.img.url }}" />
					<div class="grid-theme-info grid-theme-info--{{ theme.colour }}">
						<div>
							<h2>{{ theme.heading }}</h2>
							<p>{{ theme.content }}</p>
						</div>
					</div>
				</a>
			{% endfor %}

		</div>

	</div>

</div>