{% extends "base.twig" %}

{% block templateContent %}
    <main>
       <section class="section section--error">
    

        <div class="inner text-center">
            <h1>Something went wrong</h1>
            <p>Please try again in a few minutes, if the error persists <a href="/say-hi">contact us</a> for support.</p>
            <span class="status-code">Error: 500</span> <br /><br />
            <div class="buttons">
                <a class="button button--home" href="{{ site.link }}">Go home</a>
            </div>
        </div>

        </section>
    </main>
{% endblock %}

