.notice{
	padding: 1em;
	background: $yellow;
	text-align: center;
	@include mq($from: tablet) {
		text-align: left;
		.inner{
			@include flexbox();
			@include justify-content(space-between);
		}
	}
	a{
		@include underline-transition();
		padding-top: 0.5em;
		display: inline-block;
		@include mq($from: tablet) {
			margin-left: 1em;
			padding-top: 0;
		}
	}
}

.notice--mobile-hide{
	@include mq($until: tablet) {
		display: none;
	}
}