.button, button{
	@include button();
}

.button-secondary{
	@include secondary-button();
}

.button--yellow{
	@include button();
	@include button-yellow();
}

.button--white{
	@include button();
	@include button-white();
}

.more-blogs{
	margin-top: 3em;
	@include rem("font-size", 24px);
}