{% extends "base.twig" %}

{% block templateContent %}
    <main class="contact-page">

        {% include 'components/banner/banner-secondary' with banner %}

        <div class="contact-container columns">

            <div class="inner">

                <div class="contact__content column">
                    {{ content }}
                    {% include 'components/contact/contact-details' %}
                </div>

                <div class="contact__form column">
                    {{ form }}
                    {# {% include 'components/form/form' %} #}
                </div>

            </div>

        </div>

        {% if cta %}
            {% include 'components/columns/columns' with cta %}
        {% endif %}

    </main>
{% endblock %}
