.woocommerce main{
	padding-bottom: 4em;
}
.product{
	text-align: left;
	margin-bottom: 1em;
	a{
		text-decoration: none;
	}
	h3{
		margin: 0;
		a{
			font-size: 21px;
			line-height: 22px;
			text-decoration: none;
			&:hover{
				text-decoration: solid 1px $blue;
			}
		}
	}
	.price{
		padding: 0;
		font-size: 22px;
    			line-height: 50px;
		border: none !important;
		&:hover{
			box-shadow: none;
			background: transparent;
		}
	}
}


// CART
.woocommerce-cart-form{
	@include inner();
}
.shop_table{
	width: 100%;
	.product-name{
		text-align: left;
	}
	thead{
		display: none;
		@include mq($from: tablet) {
			display: table-header-group;
		}
		text-align: left;
		border-bottom: 1px solid #dcdede;
	}

	td{
		border-right: 0;
    	border-left: 0;
	}

	.cart_item{
		border-bottom: 1px solid #dcdede;
	}

	.quantity{
		@include clearfix();
		label{
			position:absolute;
			left:-10000px;
			top:auto;
			width:1px;
			height:1px;
			overflow:hidden;
		}
		input{
			text-align: center;
			width: auto;
			border: 0;
			border-top: solid 1px $blue;
			border-bottom: solid 1px $blue;

		}
		.qty{
			width: 50px;
		}
		.qty_button{
			background: #fff;
			border: solid 1px $blue;

			&.minus{
				border-right: 0;
				margin-right: -5px;
			}
			&.plus{
				border-left: 0;
				margin-left: -5px;
			}
		}
	}
	@include mq($until: tablet) {
		.product-thumbnail,
		.product-name,
		.product-price,
		.product-quantity,
		.product-subtotal
		{
			width: 100%;
			float: left;
			margin-bottom: 1em;
		}
	}
	.coupon{
		label{
			position:absolute;
			left:-10000px;
			top:auto;
			width:1px;
			height:1px;
			overflow:hidden;
		}
		input{
			border: solid 1px $blue;
		}
		.button{
			@include button-white();
			height: 53px;
		}
		input,.button{
			width: 100%;
			@include mq($from: tablet) {
				width: 49%;
				display: inline-block;
			}
		}
		@include mq($from: tablet) {
			width: 40%;
			float: right;
		}
	}

	// .product-name{
	// 	width: 78%;
	// 	float: left;
	// }
	// .product-price{
	// 	width: 100%;
	// 	padding: 0 0 0 22%;
	//     box-sizing: border-box;
	//     margin-top: 0;
	// }
	// .product-quantity{
	// 	width: 75%;
 //    	float: left;
 //    	padding: 10px 0 40px 22%;
 //    	box-sizing: border-box;
	// }
	// .product-subtotal{
	// 	box-sizing: border-box;
	//     float: right;
	//     padding: 55px 0 11px 0;
	//     width: 25%;
	// }
}

.cart-collaterals{
	@include inner();
	margin: 1em;
	border-top: solid 1px $grey;
	text-align: center;
	@include mq($until: tablet) {
		table{
			font-size: 1.4em;
		}
	}

	table{
		width: 100%;
	    max-width: 400px;
	    margin: 0 auto;
	}
}

.wc-proceed-to-checkout{
	margin: 2em 0;
	.button{
		@include mq($until: tablet) {
			width: 100%;
		}
		box-sizing: border-box;
		@include button-yellow();
	}
}

.page-template-page-woo-business-php{
	main{
		margin-bottom: 8em;
	}
}

.woocommerce-checkout{
	.woocommerce{
		@include inner();
		margin-top: 1em;
	}
}

// .quantity input::-webkit-outer-spin-button,
// .quantity input::-webkit-inner-spin-button {
//     display: none;
//     margin: 0;
// }
// .quantity input.qty {
//     appearance: textfield;
//     -webkit-appearance: none;
//     -moz-appearance: textfield;
// }
button[name='update_cart']{
	display: none;
}
.cart-collaterals{
	margin: 0 auto;
}
.PaymentRequestButton{
	max-width: 270px;
    margin: 0 auto;
    display: block;
}
.woocommerce-notices-wrapper{
	text-align: center;
    margin-top: 1em;
}
.wc-credit-card-form{
	border: none;
    padding: 0;
}
.place-order{
	max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
    margin-bottom: 12em;
    .woocommerce-terms-and-conditions-wrapper{
    	padding-bottom: 1em;
    }
}
.page-template-page-woo-business{
	.hero__column.hero__column--text{
		grid-column: span 12;
	}
	input{
		border: 0;
		border: 1px solid $blue;
	}
}

body .pswp__bg{
	background: rgba(0,0,0,0.7);
}
body .woocommerce img.pswp__img, .woocommerce-page img.pswp__img{
	background: #fff;
	padding: 4px;
}
.woocommerce-product-gallery__image{
	display: inline-block;
	&:first-child{
		display: block;
	}
}

.related-products{
	h3{
		text-align: center;
		margin-bottom: -0.5em;
	}
	.product h3{
		text-align: left;
	}
	margin-bottom: 7em;
}
.woocommerce-breadcrumb{
	display: none;
}

.woocommerce-shipping-methods{
	li{
		list-style: none;	
		input{
			display: inline-block;
   	 		width: 30px;
   	 		position: relative;
    		visibility: visible;
		}
		label{
			display: inline-block;
		}
	}
}

.woocommerce-terms-and-conditions-wrapper{
	input{
		display: inline-block;
    	width: auto;
    	position: relative;
    visibility: visible;
	}
	.woocommerce-form__label-for-checkbox{
		margin-top: 0.5em;
    	display: block;
    }
}
.woocommerce-terms-and-conditions{
	max-height: 200px;
    overflow: scroll;
    background: #eee;
    padding: 1em;
    margin: 1em;
    border: 1px solid #e3e3e3;
}