<article {% if not primer %}
        {{ fn('post_class', ['$classes', 'entry'], post.id ) }}
    {% endif %}
>
    {% if not primer %}
        {{ fn('timber_set_product', post) }}
    {% endif %}

    <div class="media">

        {% if showthumb %}
            <a href="{{ post.link }}">
                <div class="media-figure {% if not post.thumbnail %}placeholder{% endif %}">
                    <a href="{{ post.link }}">
                        {% if post.thumbnail %}
                            <img src="{{ post.thumbnail.src('resource_thumb') }}" />
                        {% else %}
                            <span class="thumb-placeholder"><i class="icon-camera"></i></span>
                        {% endif %}
                    </a>
                </div>
            </a>
        {% endif %}

        <a href="{{ post.link }}">
            <div class="media-content">

                {% if not primer %}
                    <div class="product__image">
                        {% do action('woocommerce_before_shop_loop_item_title') %}
                    </div>
                {% endif %}
                
                {% if post.title %}
                    <h3 class="entry-title">{{ post.title }}</h3>
                {% else %}
                    <h3 class="entry-title">
                        {% if not primer %}
                            {{ fn('the_title') }}
                        {% endif %}
                    </h3>
                {% endif %}

                <p>{{ post.post_excerpt }}</p>

                <div class="button-secondary">View</div>

                {# {% do action( 'woocommerce_after_shop_loop_item_title' ) %} #}

            </div>
        </a>

    </div>


</article>