%text-input {
    padding: 0.8em;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border: 1px solid $black;
    // color:$purple;
    font-weight:400;
    //margin-bottom: 1em;
    @include rem("font-size", 20px);
    @include rem("line-height", 24px);
    @include mq($until: tablet) {
    	@include rem("font-size", 18px);
    }
 //    &::-webkit-input-placeholder { /* Edge */
	//   color: $purple;
	// }

	// &:-ms-input-placeholder { /* Internet Explorer 10-11 */
	//   color: $purple;
	// }

	// &::placeholder {
	//   color: $purple;
	// }
	&:focus{
		outline: 0;
		// border: 1px solid $purple;
	}
}

input {
    @extend %text-input;
}
input[type="checkbox"]{
	width: auto;
}
// .label{
// 	&:hover{
// 		cursor: text;
// 	}
// }
.field label, .gfield label{
	margin-bottom: 0.5em;
	display: block;
	@include rem('font-size', 16px);
}
.field--hide-label, .form-hide-labels{
	label{
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}
}
// .field label{
// 	@include rem("font-size", 18px);
// 	margin-bottom: 0.5em;
// 	// color: $blue;
// 	@include mq($until: tablet) {
//     	@include rem("font-size", 18px);
//     	// transform: translate(16px,43px) scale(1);
//     }
// 	// cursor: text;
// 	// transform: translate(16px,50px) scale(1);
// 	position: relative;
// 	display: block;
// 	font-weight: 300;
	
// 	position:absolute;
// 	left:-10000px;
// 	top:auto;
// 	width:1px;
// 	height:1px;
// 	overflow:hidden;
// }

// .field--active{
// 	label{
// 		opacity: 0;
// 	}
// 	// label{
// 	// 	transform: translate(-30px, 24px) scale(0.8);
// 	// }
// 	// &.field--textarea{
// 	// 	label{
// 	// 		transform: translate(-80px, 24px) scale(0.8);
// 	// 	}
// 	// }
// }
@include mq($until: tablet) {
	.field{
		margin-bottom: 1em;
	}
}

.field-error{
	color: #e01e1e;
}