{% extends 'base.twig' %}

{% block content %}

    <main>
        
        {% include 'components/heroes/hero/template.twig' with header %}

        <div class="inner">

            {% do action('woocommerce_before_main_content') %}

            <div class="before-shop-loop">
                {% do action('woocommerce_before_shop_loop') %}
            </div>

            <div class="inner products">
                {% for post in products %}
                    {% include 'components/shop/teaser/template.twig' with post %}
                {% endfor %}
            </div>


          {% do action('woocommerce_after_shop_loop') %}
          {% do action('woocommerce_after_main_content') %}

        </div>

    </main>

{% endblock  %}