.banner{
	position: relative;
}
.banner__box{
	background: $black;
	padding: 1em;
	@include mq($from: tablet) {
		max-width: 380px;
    	padding: 1em 4em;
    }
    box-sizing: border-box;
	h1,h2,h3,p{
		color: #fff;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.banner__content{
	text-align: center;
	.button{
		margin-top: 1em;
	}
	@include mq($from: tablet) {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	
		.button{
			margin-top: 2em;
		}
	}
}
.banner-secondary{
	h1{
		text-align: center;
		padding-top: 3em;
		padding-bottom: 0;
		@include rem('font-size', 50px);
		@include rem('line-height', 60px);
	}
}
.banner-single{
	position: relative;
}
.banner-single__tags{
	width: 100%;
	bottom: 2em;
	text-align: center;
	padding: 0.5em 1em;
	box-sizing: border-box;
	margin-top: 1em;
	@include mq($from: tablet) {
		position: absolute;
		margin-top: 0;
	}
}
.tag{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	background: $black;
	padding: 0.7em 2em;
	margin-right: 1em;
	text-transform: lowercase;
	&:last-child{
		margin-right: 0;
	}
	&.product_cat{
		background: $green;
	}
}
.page-header-simple{
	text-align: center;
	padding: 4em 0 2em 0;
}
.post-header-simple{
	text-align: center;
	padding: 2em 0 2em 0;
}