<div class="banner">

	<picture>
		<source 
		srcset="{{ image_large.url }}"
		media="(min-width: 980px)"
		/>
		<source 
		srcset="{{ image_medium.url }}"
		media="(min-width: 740px)"
		/>
		<img 
		src="{{ image_small.url }}" 
		alt="{{ image_small.alt }}"
		/>
	</picture>

	<div class="banner__content">

		<div class="banner__content-container">

			<div class="banner__box">
				<h1>{{ heading }}</h1>
			</div>

			<a class="button" href="{{ button.url }}">{{ button.title }}</a>

		</div>

	</div>

</div>