.post-intro{
	background: $yellow;
	padding: 1em;
	text-align: center;
	.post-intro__author,.post-intro__time{
		margin-bottom: 1em;
	}
	@include mq($from: tablet) {
		text-align: left;
		padding: 3em;
		@include grid();
		grid-row-gap: 2.5em;
		
		.post-intro__author{
			@include grid-column-span(6);
		}
		.post-intro__time{
			@include grid-column-span(6);
			text-align: right;
		}
		.post-intro__content{
			@include grid-column-span(12);
		}

	}
}
.post-intro__time{
	span{
		padding-left: 27px;
		position: relative;
		&:before{
			content: "";
			background-image: url('/app/themes/lumberjack/assets/img/clock.svg');
			background-size: cover;
			display: block;
			position: absolute;
			height: 20px;
			width: 20px;
			left: 0;
		}
	}
}
.post-intro__content{
	@include rem('font-size', 22px);
	@include rem('line-height', 32px);
	text-align: center;
}
.post-content{
	padding: 2em 0;
	h2{
		text-align: left;
		margin-top: 1.3em;
	}
}