<div class="post-intro">

	<div class="post-intro__author">by {{ post.author }}</div>
	<div class="post-intro__time"><span>{{ time_to_read }} minute read</span></div>	

	<div class="post-intro__content">
		{{ post.intro }}
	</div>

</div>