// .field--select{
// 	label{
// 		position:absolute;
// 		left:-10000px;
// 		top:auto;
// 		width:1px;
// 		height:1px;
// 		overflow:hidden;
// 	}
// }
select{
	@extend %text-input;
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    // background-image: url('/app/themes/lumberjack/assets/img/chevron-down.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 96%;
    cursor: pointer;
    // color: $purple;
}