{% set attrString = '' %}
{% for attr in attrs %}
    {% if attr.key and attr.value %}
        {% set attrString = attrString ~ ' ' ~ attr.key ~ '=' ~ attr.value ~ '' %}
    {% else %}
        {% set attrString = attrString ~ ' ' ~ attr %}
    {% endif %}
{% endfor %}

<select class="field {% if hide_label %}field--hide-label{% endif %} field--{{ name }} field--{{ type }} field--{{ width }}" title="{{ title }}" name="{{ name }}" id="{{ name }}" {{ attrString }}>
    <option value="" selected disabled>{{ label }}</option>
    {% for option in options %}
        {# {% if option.value == selectedValue %}
            <option value="{{ option.value }}" selected>{{ option.label }}</option>
        {% else %} #}
            <option value="{{ option.value }}">{{ option.label }}</option>
        {# {% endif %} #}
    {% endfor %}
</select>
