.woocommerce{
	@include clearfix();
}
html .woocommerce-notices-wrapper{
	background: $orange;
	color: #fff;
	// padding: 1.5em 1em;
	.woocommerce-message{
		background: $orange;
		color: #fff;
		padding-top: 1.5em !important;
		padding-bottom: 1.5em !important;
		@include inner();
		.button-secondary{
			float: right;
			color: #fff;
			margin-top: -6px;
			&:before{
				background: #fff;
			}
			&:hover{
				color: $black;
			}
		}
	}
}

.woocommerce-notices-wrapper+.single-product-details{
	margin-top: 0;
}
.u-columns{
	width: auto !important;
	@include inner();
}
#customer_login{
	margin: 3em 0;
}
// .woocommerce-cart-form{
// 	@include inner();
// }
.woocommerce-checkout.checkout{
	@include inner();
	margin-top: 3em;
}
.woocommerce-additional-fields{
	margin-top: 2em;
}
#order_review_heading{
	margin-top: 2em;
}
.form-row.place-order{
	margin-top: 2em;
	margin-bottom: 2em;
}
.shop_table{
	width: 100%;
}
.woocommerce-form-login__submit, .woocommerce-form-register__submit{
	margin-top: 1em;
}
.show-password-input{
	display: none;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals{
	width: auto;
	padding: 0;
	// @include inner();
	margin-bottom: 2em;
}
.cart_totals{
	h2{
		text-align: right;
	}
}
.wc-proceed-to-checkout{
	text-align: right;
}
.coupon .button{
	@include button-yellow();
}
.woocommerce-page table.cart td.actions .input-text{
	height: 47px;
    width: 152px;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
	margin-top: 1em;
}
.page-template-page-woo-business.woocommerce-account{
	.woocommerce{
		@include inner();
		margin: 3em auto;
		@include mq($from: tablet) {
			@include grid();
			grid-column-gap: 3em;
			.woocommerce-MyAccount-navigation{
				@include grid-column-span(4);
				float: none;
				width: 100%;
			}
			.woocommerce-MyAccount-content{
				@include grid-column-span(8);
				float: none;
				width: 100%;
			}
			.col2-set{
				@include grid-column-span(12);
			}
		}
	}
	
}
#rememberme{
	width: auto;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
	border-right: solid;
}
.woocommerce-MyAccount-navigation{
	ul{
		list-style: none;
		padding-left: 0;
		margin-top: 0;
	}
	li{
		margin-bottom: 0;
		&:hover{
			background: $blue;
			a{
				padding-left: 2em;
			}
		}
		a{
			border-bottom: solid 1px $blue;
			display: block;
			margin-right: 1em;
			padding-top: 1em;
			padding-bottom: 1em;
			padding-left: 1em;
			color: $black;
			@include transition(padding-left 0.3s);
		}
	}

}
.woocommerce-MyAccount-content{
	.button{
		margin-top: 1em;
	}
	fieldset{
		padding: 1em;
	}
}
.wc-credit-card-form {
	border: 0;
    margin: 0;
    padding: 0;
}
.woocommerce-order-received, .woocommerce-cart{
	.woocommerce{
		@include inner();
		margin-bottom: 2em;
		h2{
			text-align: left;
		    margin-bottom: 0;
		    padding-bottom: 0;
		    margin-top: 1em;
		}
	}
}
.checkout-button{
	width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.woocommerce-info{
	@include inner();
	margin-top: 2em;
}
.quantity{
	.qty_button.minus{
		margin-right: -5px;
		padding: 1px 9px;
		width: auto;
	}
	.qty_button.plus{
		padding: 1px 5px;
		width: auto;
	}
	.qty{
		margin-right: -5px;
		width: 26px;
    	margin-right: -5px;
    	padding: 1px;
	}
}
.product-name{
	a{
		color: $black;
		text-decoration: none;
	}
	.remove{
		color: $orange;
	}
}
.woocommerce-order{
	margin-top: 3em;
}
.download-product a{
	color: $black;
}
.button-padding-right{
	margin-right: 1em;
}
.woocommerce-MyAccount-downloads-file{
	margin-top: 0;
}
@include mq($until: tablet) {
	.u-column1{
		margin-bottom: 2em;
	}
}
.account-menu{
	list-style: none;
	// border: solid 1px $black;
	padding: 1em;
	display: block;
	color: $black;
	text-decoration: none;
	position: relative;
	&:after{
		content: '';
		display: block;
		position: absolute;
		right: 1em;
		background-image: url('/app/themes/lumberjack/assets/img/chevron-down.svg');
		height: 18px;
	    width: 31px;
	    background-size: contain;
	    top: 1em;
	}
}
.woocommerce-MyAccount-navigation.open{
	.account-menu{
		border-bottom: 0;
		margin-bottom: 0;
		background: $blue;
		border-bottom: solid 1px #fff;
		&:after{
			content: '';
			display: block;
			position: absolute;
			right: 1em;
			background-image: url('/app/themes/lumberjack/assets/img/chevron-up.svg');
			height: 18px;
		    width: 31px;
		    background-size: contain;
		    top: 1em;
		}
	}
}
@include mq($until: tablet) {
	.woocommerce-MyAccount-navigation{
		border: solid 1px $black !important;
		margin-bottom: 1em;
		ul{
			// height: 0;
			// overflow: hidden;
			width: 100%;
			z-index: 999;
			display: none;
			// border: solid 1px $black;
			border-top: none;
			margin-bottom: 0;
		}
		&.open{
			ul{
				// height: 100%;
				background: $blue;
			}
		}
	}
}