.before-shop-loop {
	@include clearfix();
}
.product{
	text-align: center;
	margin-bottom: 2em;
	a{
		text-decoration: none;
	}

	.product__image{
		position: relative;
		&:before{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 6px;
			background: $green;
			content: '';
		}
	}

	&.product_cat-explore{
		.product__image{
			position: relative;
			&:before{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 6px;
				background: $green;
				content: '';
			}
		}
	}
	&.product_cat-connect{
		.product__image{
			&:before{
				background: $yellow;
			}
		}
	}
	&.product_cat-create{
		.product__image{
			&:before{
				background: $blue;
			}
		}
	}
	&.product_cat-discover{
		.product__image{
			&:before{
				background: $orange;
			}
		}
	}
}
.product__image{
	margin-bottom: 1em;
	img{
		width: 100%;
	}
}
@include mq($from: tablet) {

    .products-list{
        @include grid;
        @include clearfix();

        .product{
	        @include grid-column-span(4);
	        // padding: 1em 1em;
    		box-sizing: border-box;
	    }
    }

    h2{
    	@include grid-column-span(12);
    	text-align: center;
    }

    .single-product-details{
    	// @include grid-container;
    	margin-top: 4em;

    	.entry-images{
    		@include grid-column(8);
    	}

    	// .product-details{
    	// 	@include grid-column(4);
    	// 	text-align: left;
    	// }

    	.price{
    		text-align: left;
    		padding: 0;
    	}

    	.product_meta{
    		display: none;
    	}
    }

}

.shop-banner{
	overflow: hidden;
	img{
		margin-bottom: -3px;
	}
}
.woocommerce .woocommerce-result-count{
	margin: 1em 0;
}
.swiper-pagination-bullet{
	height: 12px;
	width: 12px;
	opacity: 1;
}
:root {
    --swiper-theme-color: #4FAB8D;
}
.resource-title{
	@include mq($until: tablet) {
		text-align: center;
	}
	padding-top: 1em;
	padding-bottom: 0;
}
.products-list{
	margin-top: 2em;
}
.onsale{
	display: none;
}