.single-product{
	.product-details{
		margin-top: 2em;
	}

	.summary{
		.cart{
			margin-bottom: 1em;
		}
		@include mq($from: tablet) {
			@include grid();
			align-items: center;
			.entry-title{
				@include grid-column-span(12);
			}
			.price{
				@include grid-column-span(6);
				text-align: right;
				@include grid-row-start(1);
				@include grid-row-end(1);
				margin-bottom: 0;
				&.suggested-price{
					@include grid-column-start(1);
					@include grid-column-end(5);
				}
			}
			.nyp{
				@include grid-row-start(1);
				@include grid-row-end(1);
				@include grid-column-span(4);
			}
			.cart{
				@include grid-row-start(1);
				@include grid-row-end(1);
				@include grid-column-span(4);
				text-align: left;
				margin-bottom: 0;
			}
			.single-product-details{
				.product-details{
					@include grid();
				}
			}
			.woocommerce-product-details__short-description{
				@include grid-column-span(12);
				p{
					@include rem("font-size", 24px);
				}
			}
		}
		&.summary--name-your-price{
			.price{
				display: none;
			}
			.cart{
				max-width: 750px;
				margin: 0 auto;
				@include mq($from: tablet) {
					@include grid();
				}
				#ywcnp_form_name_your_price{
					@include grid-column-span(6);
					margin: 0 !important;
					margin-bottom: 1em !important;
					@include mq($from: tablet) {
						display: flex;
   		 				align-items: center;
   		 				margin: 0 !important;
					}
				}
				#ywcnp_form_name_your_price label{
					font-weight: 700;
				    font-size: 1.2rem;
				    min-width: 190px;
				    padding-right: 0.5em;
				}
				.button{
					@include grid-column-span(6);
					align-self: end;
				}
			}
		}
	}
}
.full-description{
	text-align: center;
}
.price{
	font-weight: 700;
}
.secondary-add-to-cart{
	margin-top: 3em;
}
#ywcnp_form_name_your_price label{
	padding-bottom: 0.2em;
    display: block;
}
.ywcnp_sugg_price{
	height: 54px;
}