<div class="banner-secondary">

	<h1>{{ heading }}</h1>

	{# <img src="{{ image.url }}" /> #}
	<picture>
		<source 
		srcset="{{ image_large.url }}"
		media="(min-width: 980px)"
		/>
		<source 
		srcset="{{ image_medium.url }}"
		media="(min-width: 740px)"
		/>
		<img 
		src="{{ image_small.url }}" 
		alt="{{ image_small.alt }}"
		/>
	</picture>

</div>