<div class="shop-banner swiper-container full-controls" style="position: relative;">
    <div class="swiper-wrapper">
        {% for image in banner_images %}
            <div class="swiper-slide">

                <img src="{{ image.url }}" />

            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    {# <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> #}
</div>