{% extends "base.twig" %}

{% block templateContent %}
    <main>
    	{% include 'components/banner/banner-secondary' with banner %}
        {% include 'components/content/sections' %}
        <div class="inner inner--article typography">
	        {{ content }}
    	</div>
    </main>
{% endblock %}
