@include mq($from: tablet) {

	.blog-teaser{
		@include grid();
	}
	.blog-teaser__thumbnail{
		@include grid-column-span(4);
	}
	.blog-teaser__content{
		@include grid-column-span(8);
		@include flexbox();
		@include align-items(center);
	}

}

.blog-teaser{
	@include inner();
	margin-bottom: 2em;
	h2{
		padding-bottom: .2em;
		text-align: left;
	}
	p{
		padding-top: 1em;
	}
}

.posts{
	list-style: none;
	padding-left: 0;
	margin-top: 2em;
	@include mq($from: tablet) {
		margin-top: 4em;
	}
}