<li class="blog-teaser">

	<div class="blog-teaser__thumbnail">
		<a href="{{ post.link }}"><img src="{{ post.thumbnail.src('medium') }}" /></a>
	</div>

	<div class="blog-teaser__content">
		<div>
			<a href="{{ post.link }}"><h2>{{ post.title }}</h2></a>
			<div class="blog-teaser__author">by {{ post.author }}</div>
			<p>{{ post.preview.read_more(false).end(false).len(20) }}</p>
			<a class="button-secondary" href="{{ post.link }}">Read more</a>
		</div>
	</div>

</li>