.section{
	padding: 4em 0;
}
// .section--flexible.section--white{
// 	padding-bottom: 0;
// }
.section--flexible{
	padding: 4em 0;
	.inner{
		@include mq($from: desktop) {
			@include grid();
			grid-column-gap: 4em;
	    	align-items: center;
	    	// text-align: center;

	    	.section-block{
	    		margin-bottom: 0;
	    	}
	    	.section-block--half{
	    		@include grid-column-span(6);
	    	}

	    	.section-block--full{
	    		@include grid-column-span(12);
	    		text-align: center;
	    		p{
	    			max-width: 770px;
	    			margin: 0 auto;
	    			@include rem("font-size",26px);
	    			@include rem("line-height",30px);
	    		}
	    	}

	    	.section-block--narrow{
	    		@include grid-column-start(3);
	    		@include grid-column-end(11);
	    	}
		}
	}
	&.no-bottom-padding{
		padding-bottom: 0;
		img{
			margin-bottom: -3px;
		}
	}
}
.section-block{
	margin-bottom: 2em;
	// padding: 2em;
	p{
		padding-bottom: 1em;
		// padding: 1em;
		margin: 0 auto;
	}
	.button{
		@include rem('font-size', 22px);	
	}
}
.section--black, .section-block--black{
	background: $black;
	p{
		color: #fff;
	}
}
.section--yellow, .section-block--yellow{
	background: $yellow;
	p{
		color: $black;
	}
}
.section--green, .section-block--green{
	background: $green;
	h1,h2,h3,p{
		color: #fff;
	}
	// .button{
	// 	@include button-black();
	// 	&:hover{
	// 		background: $grey;
	// 	}
	// }
}
.section--orange, .section-block--orange{
	background: $orange;
	h1,h2,h3,p{
		color: #fff;
	}
	// .button{
	// 	@include button-black();
	// 	&:hover{
	// 		background: $grey;
	// 	}
	// }
}
.section-block--black,
.section-block--yellow,
.section-block--blue,
.section-block--green,
.section-block--orange{
	padding: 2em;
	p{
		padding-bottom: 0;
	}
}