{% for section in sections %}

	<section class="section--flexible section--{{ section.background }} {% if section.bottom_padding == 'off' %}no-bottom-padding{% endif %}" id="{{ section.id }}">
		<div class="inner">
			{% for block in section.blocks %}
				<div class="section-block section-block--{{ block.size }} {% if block.background %}section-block--{{ block.background }}{% endif %}">

					{% for content in block.content %}


 						{% if content.type == 'heading' %}

							<{{content.heading_size}} class="{{content.heading_size}}">{{ content.heading }}</{{content.heading_size}}>
						
						{% elseif content.type == 'text' %}

							{{ content.text }}

						{% elseif content.type == 'button' %}

							{% if content.alignment == 'center' %}
								<div class="text-center">
							{% endif %}

							<a class="button button--{{ content.colour }}" href="{{ content.button.url }}">{{ content.button.title }}</a>

							{% if content.alignment == 'center' %}
								</div>
							{% endif %}

						{% elseif content.type == 'image' %}

							{{ content.image }}

						{% elseif content.type == 'form' %}

							{% include 'components/forms/form' with content %}

						{% endif %}

					{% endfor %}

				</div>
			{% endfor %}
		</div>
	</section>
{% endfor %}