<nav class="site-nav">
    {% for link in menu.get_items %}
        <li class="page-list__item {% if link.children %}has-child{% endif %}">
            <a href="{{ link.link }}" class="{{ link.class }}">{{ link.title }}</a>
            {% if link.children %}
                <ul class="dropdown-menu">
                    <div>
                        {% for child in link.children %}
                            <li class="nav-drop-item">
                                <a href="{{ child.link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            {% endif %}
        </li>

    {% endfor %}
</nav>

