{% extends "base.twig" %}

{% block templateContent %}
    <main>
        {% include 'components/banner/banner-single' with image %}
        <div class="inner post-header-simple">
            <h1>{{ title }}</h1>
        </div>

        <div class="inner">
            {% include 'components/posts/intro' %}
        </div>

        <div class="post-content">
            <div class="inner">
                {{ content|raw }}
            </div>
        </div>

    </main>
{% endblock %}
