{% extends "base.twig" %}

{% block templateContent %}

    {% do action('woocommerce_before_single_product') %}

    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">

        {% include 'components/banner/banner-single' with { image : header_image, tags : tags } %}

        <div class="inner">

            <div class="product-details">
                <div class="summary entry-summary {% if name_your_price[0] == 1 %}summary--name-your-price{% endif %}">
                    {% do action('woocommerce_single_product_summary') %}
                </div>

                <meta itemprop= "url" content="{{ post.link }}" />

            </div>

        </div>

    </article>

    {% include 'components/shop/product-overview' %}

    <div class="inner full-description row" style="margin-bottom: 6em">
            {{ product.description|wpautop }}

            {% if video_id %}
                {% include 'elements/video' %}
            {% endif %}

            <div class="secondary-add-to-cart">
                {{ add_to_cart }}
            </div>
        </div>

    {% if related_products %}
        <div class="inner products-list related-products">
            <h2>Related products</h2>
            {% for post in related_products %}
                {% include 'components/shop/teaser/template.twig' %}
            {% endfor %}
        </div>
    {% endif %}

{#     {% include ["partials/tease-product.twig"] with { products: related_products } %}
 #}
    {% do action('woocommerce_after_single_product') %}

{% endblock  %}